<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO App with HTMX</title>
    <!-- <script src="static/htmx.min.js"></script> -->
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"></script>

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      #list {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .weather {
        background-color: lightslategray;
        border: 1px solid black;
        border-radius: 25%;
      }
    </style>
  </head>
  <body>
    <h1>TODO List</h1>

    <!-- Form to Create a New Todo -->
    <form
      hx-post="http://127.0.0.1:8080/todo/todo"
      hx-target="#todo-list"
      hx-swap="beforeend"
    >
      <input type="text" name="title" placeholder="New Todo" required />
      <button type="submit">Add</button>
    </form>

    <!-- List of Todos -->
    <div id="list" hx-get="http://127.0.0.1:8080/getweathers" hx-trigger="load">
      <!-- Existing Todos will be dynamically rendered here -->
    </div>
  </body>
</html>
